.content main {
    max-width: 1200px !important;  
}

.content h1, h2, h3, h4, h5, p, ul, ol, img, pre, element {
    max-width: 800px !important;
    margin-left: auto;
    margin-right: auto;
}

.content ul, ol {
    max-width: 750px !important;
}

.content img {
    display: block !important;
}